<%- include("partials/header") -%>

    <h1>Home</h1>
    <p><%=homeContent%></p>


    <% posts.forEach(post => { %>
        <hr>
        <h2>
            <a href="/posts/<%= post.postTitle %>">
                <%= post.postTitle %>
            </a>
        </h2>

        <small class="date">
            <%= post.postDate %>
        </small>

        <p class="post-content">
            <%= post.postText %>
        </p>



    <% }) %>


<%- include("partials/footer") -%>

