<%- include("partials/header") -%>

        <hr>
        <h2>
            <%= postTitle.toUpperCase() %>
        </h2>

        <small class="date">
            <%= postDate %>
        </small>

        <p class="post-content">
            <%= postText %>
        </p>



<%- include("partials/footer") -%>

